/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 100px;
}

.logo a{
    font-family: "Courier New", Courier, monospace;
    font-size: 65px;
    font-weight: bold;
    text-decoration: none;
    color: #F1C232;
    margin-right:120px;
}

.logo a:hover {
  text-decoration:none;
  color:#D8AE2C;
}

.barnav {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.whiskeypic img{
    // text-align: left;
    padding: 15px 15px 15px 15px;
    max-width:350px;
    max-height:450px;
    // overflow:hidden;
}

.whiskeydesc {
    text-align: right;
    // margin-top: -300px;
    margin-right: 50px;
}

.picanddesc {

}

.enterbutton {
  text-align: right;
  margin-right: 50px;
}

.whiskeycomments {
  text-align: right;
  margin-right: 50px;
}
