// Place all the styles related to the whiskey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 200px;
}

#logo {
    font-family: "Courier New", Courier, monospace;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    color: #F1C232;
}

.barnav {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

#whiskeypic {
    padding: 15px 15px 15px 15px;
    width:350px;
    height:450px;
    overflow:hidden;
}
